html, body, .ng-global{
	height: 100%;
	width: 100%;
	display: block;
	font-family: $source;
	-webkit-font-smoothing: antialiased;
}

.basic-title{
	display: block;
	text-align: center;
	color: $black;
	margin-bottom: 70px;
	font-size: 1.313rem;
	font-weight: 600;
}

.container{
	display: block;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	&.posts-list{
		&>li:nth-child(4n){
			margin-right: 0;
		}
	}
}