/*==========  VARIABLES  ==========*/

  // Colors
  $blue : #757fff;
  $grey-light : #f0efed;
  $grey-medium : #c4c4c4;
  $grey-dark : #848484;
  $green : #8cca4e;
  $black : #181617;
  $blue-dark: #3D72C5;
  $blue-deep: #2A3542;
  $blue-deep-hover: #232C37;

  // Fonts
  $source : 'Source Sans Pro', sans-serif;