/*==========  VARIABLES  ==========*/

  // Colors
  $blue : #757fff;
  $grey-light : #f0efed;
  $grey-medium : #c4c4c4;
  $green : #28d31f;
  $black : #181617;

  // Fonts
  $source : 'Source Sans Pro', sans-serif;