#create-activity{
	.guidebar{
		position: fixed;
		left: 0;
		height: 100px;
		width: 100%;
		background: $black;
		top: 60px;
		text-align: center;
		a{
			display: inline-block;
			color: $grey-dark;
			text-decoration: none;
			box-sizing: border-box;
			margin: 0;
			font-weight: 400;
			font-size: 0.75rem;
			width: 19.7%;
			text-transform: uppercase;
			cursor: pointer;
			span{
				display: block;
				font-size: 2.5rem;
				font-weight: 400;
				margin: 0 auto 20px 0;
				color: $grey-dark;
			}
			&.active{
				color: white;
				span{
					color: white;
				}
			}
			&.valid{
				color: $green;
			}
		}
		#bar{
			height: 2px;
			background: $grey-dark;
			width: 60%;
			top: 55px;
			position: absolute;
			left: 50%;
			margin-left: -30%;
			&:after{
				content: "";
				background: white;
				height: 100%;
				width: 0%;
				position: absolute;
				left: 0;
				top: 0;
				transition: all 500ms linear;
			}
			&.state-1:after{ width: 0% }
			&.state-2:after{ width: 33.33% }
			&.state-3:after{ width: 66.66% }
			&.state-4:after{ width: 100% }
			.dots{
				span{
					position: absolute;
					height: 10px;
					width: 10px;
					border-radius: 10px;
					background: $grey-dark;
					margin-top: -4px;
					margin-left: -5px;
					&.active{
						background: white;
					}
				}
				&>span:nth-child(1){
					left: 0;
				}
				&>span:nth-child(2){
					left: 33.33%;
				}
				&>span:nth-child(3){
					left: 66.66%;
				}
				&>span:nth-child(4){
					left: 100%;
				}
			}
		}
	}
	form{
		width: 100%;
		box-sizing: border-box;
		padding-top: 160px;
		display: block;
		.content{
			display: block;
			margin: 50px auto;
			width: 70%;
			.top{
				color: $black;
				padding-bottom: 20px;
				.basic-title{
					margin-bottom: 20px;
					text-align: left;
				}
				.more-desc{
					font-size: 1rem;
				}
			}
			.middle{
				padding: 40px 0;
				border-bottom: 2px solid $grey-light;
				border-top: 2px solid $grey-light;
				label, .label{
					display: block;
					font-weight: 600;
					margin: 20px 0 10px 0;
				}
				input[type="text"], input[type="price"], input[type="number"], input[type="date"], textarea{
					background: $grey-light;
					border-radius: 3px;
					border: none;
					padding: 5px 10px;
					font-size: 0.875rem;
					outline: 0;
				}
				.checkboxes{
					li{
						width: 25%;
						float: left;
						margin-bottom: 5px;
						input{
							margin-right: 10px;
						}
					}
				}
				input[type="text"]{
					height: 22px;
				}
				textarea{
					height: 100px;
				}
				.full-w{
					width: 100%;
				}
				// .radio-boxes{
				// 	text-align: center;
				// 	div{
				// 		display: inline-block;
				// 		vertical-align: top;
				// 		width: 180px;
				// 		height: 200px;
				// 		background: $grey-light;
				// 		color: $black;
				// 		cursor: pointer;
				// 		line-height: 200px;
				// 		text-align: center;
				// 		margin: 20px 20px;
				// 		box-sizing: border-box;
				// 		&.active{
				// 			border: 10px solid $black;
				// 			line-height: 180px;
				// 		}
				// 		input{
				// 			opacity: 0;
				// 			position: absolute;
				// 		}
				// 	}
				// }
			}
			.bottom{
				margin-top: 20px;
				.back{
					float: left;
					font-size: 0.875rem;
					text-decoration: none;
					color: $black;
					font-weight: 600;
				}
				.next{
					font-size: 0.875rem;
					cursor: pointer;
					text-decoration: none;
					height: 30px;
					line-height: 30px;
					background: #757fff;
					border-radius: 3px;
					padding: 0 10px;
					color: white;
					float: right;
					width: 90px;
					text-align: center;
				}
			}
		}
	}
}