.nav-bar{
  height: 110px;
  width: 100%;
  color: white;
  line-height: 110px;
  padding: 0 40px;
  background: none;
  position: absolute;
  box-sizing: border-box;
  top: 0;
  padding: 0 115px;
  left: 0;
  z-index: 2;
  .left{
    float: left;
    a{
      font-weight: 300;
      font-size: 1.625rem;
      letter-spacing: 7px;
      text-transform: uppercase;
      text-decoration: none;
    }
  }
  .right{
    float: right;
    font-size: 0.750rem;
    a{
      margin-left: 30px;
      height: 30px;
      line-height: 30px;
    }
  }
  a{
    color: white;
    display: inline-block;
    font-size: 12px;
    text-decoration: none;
    &.btn{
      background: $blue;
      border-radius: 3px;
      padding: 0 10px;
    }
  }
}
