<div class="top">
	<h1 class="basic-title">Parlez de votre activité aux voyageurs :</h1>
	<h2 class="more-desc">Vous ne partagez pas seulement vos loisirs, vous partagez votre quartier. Les voyageurs se serviront de cette information pour trouver une activité proche d'eux.</h2>
</div>
<div class="middle">
	<label for="price">Prix/personne :</label>
	<input type="number" name="price" data-ng-model="activity.price" ng-init="initInput('price')">
	<label for="duration">Durée (en h) :</label>
	<input type="number" name="duration" data-ng-model="activity.duration" ng-init="initInput('duration')">
</div>
<div class="bottom clearfix">
	<a ui-sref="activity.place" class="back">Retour</a>
	<a ng-click="submitPart('validate', 4)" class="next">Valider</a>
</div>