<div id="create-activity">
	<header id="nav-bar" class="clearfix fixed" ng-if="!isLogged" ng-include="'views/header.html'" ng-controller="headerCtrl"></header>
	<header id="nav-bar" class="clearfix fixed" ng-if="isLogged" ng-include="'views/header_logged.html'" ng-controller="headerCtrl"></header>

	<div class="guidebar">
		<a class="active" ng-click="onGuidebarClick('activity.detail', 1)"><span>1</span>Détail de l'activité</a>
		<a ng-click="onGuidebarClick('activity.availability', 2)"><span>2</span>Mes disponibilités</a>
		<a ng-click="onGuidebarClick('activity.place', 3)"><span>3</span>Lieu</a>
		<a ng-click="onGuidebarClick('activity.price', 4)"><span>4</span>Tarifs</a>
		<div id="bar">
			<div class="dots">
				<span class="active"></span>
				<span></span>
				<span></span>
				<span></span>
			</div>		
		</div>
	</div>
	
	<form>
		<ui-view class="content"></ui-view>
	</form>
</div>