<div class="top">
	<h1 class="basic-title">Parlez de votre activité aux voyageurs :</h1>
	<h2 class="more-desc"><!-- Vous pouvez toujours mettre à jour votre calendrier pour bloquer les dates ou les libérer. Commencez par choisir l'option qui correspond le mieux à vos projets d'activités. -->Indiquez aux voyageurs vos disponibilités.</h2>
</div>
<div class="middle">
		<label for="dateActivity">Sélectionnez une date :</label>
		<input type="date" name="dateActivity" value="dateActivity" data-ng-model="activity.dateActivity" ng-init="initInput('dateActivity')">
</div>
<div class="bottom clearfix">
	<a ui-sref="activity.detail" class="back">Retour</a>
	<a ng-click="submitPart('activity.place', 2)" class="next">Suivant</a>
</div>