<div id="chat">
	<header id="nav-bar" class="clearfix fixed" ng-if="!isLogged" ng-include="'views/header.html'" ng-controller="headerCtrl"></header>
	<header id="nav-bar" class="clearfix fixed" ng-if="isLogged" ng-include="'views/header_logged.html'" ng-controller="headerCtrl"></header>
	<aside data-ng-include="'views/sidebar.html'"></aside>
	<section class="chat-feed">
		<div class="global">
			<ul class="feed">
				<li>
					<img src="https://d2y7at0phqmw80.cloudfront.net/img/default_avatar.png" alt="">
					<div class="content">
						<h2 class="name">Billy Shen</h2>
						<span class="datetime">Le 20/02 à 10h07</span>
						<p class="text">Théo je viens de réfléchir, je pense vraiment qu'on devrait utiliser React JS comme techno en front Théo je viens de réfléchir, je pense vraiment qu'on devrait utiliser React JS comme techno en front Théo je viens de réfléchir, je pense vraiment qu'on devrait utiliser React JS comme techno en front Théo je viens de réfléchir, je pense vraiment qu'on devrait utiliser React JS comme techno en front Théo je viens de réfléchir, je pense vraiment qu'on devrait utiliser React JS comme techno en front </p>
					</div>
				</li>
				<li>
					<img src="https://d2y7at0phqmw80.cloudfront.net/img/default_avatar.png" alt="">
					<div class="content">
						<h2 class="name">Billy Shen</h2>
						<span class="datetime">Le 20/02 à 10h07</span>
						<p class="text">Théo je viens de réfléchir, je pense vraiment qu'on devrait utiliser React JS comme techno en front Théo je viens de réfléchir, je pense vraiment qu'on devrait utiliser React JS comme techno.</p>
					</div>
				</li>
			</ul>
			<form action="">
				<input type="text" name="" id="" placeholder="Votre message ici...">
				<input type="submit" value="Envoyer">
			</form>
		</div>
	</section>
</div>