<div id="chat">
	<header id="nav-bar" class="clearfix fixed" ng-if="!isLogged" ng-include="'views/header.html'" ng-controller="headerCtrl"></header>
	<header id="nav-bar" class="clearfix fixed" ng-if="isLogged" ng-include="'views/header_logged.html'" ng-controller="headerCtrl"></header>
	<aside data-ng-include="'views/sidebar.html'"></aside>
	<section class="chat-feed">
		<div class="global">
			<ul class="feed">
				<li data-ng-repeat="mess in messages">
					<img ng-src="{{mess.from.avatar}}" alt="">
					<div class="content">
						<h2 class="name">{{mess.from.firstName}}</h2>
						<span class="datetime">Le 20/02 à 10h07</span>
						<p class="text">{{ mess.content }} </p>
					</div>
				</li>

			</ul>
			<form action="javascript:;" data-ng-submit="sendMsg(message)">
				<input type="text" name="" ng-model="message.content" placeholder="Votre message ici...">
				<input type="submit" value="Envoyer">
			</form>
		</div>
	</section>
</div>