<div id="single">
	<header id="nav-bar" class="clearfix" ng-if="!isLogged" ng-include="'views/header.html'" ng-controller="headerCtrl"></header>
	<header id="nav-bar" class="clearfix" ng-if="isLogged" ng-include="'views/header_logged.html'" ng-controller="headerCtrl"></header>
	<section class="sct1" style="background-image:url({{post_single.image}})">
	</section>
    <section class="sct2">
    	<div class="container">
    		<div class="top">
    			<h1 class="title basic-title">{{post_single.title}}</h1>
    			<h2 class="place">- {{post_single.city}}, {{post_single.country}}</h2>
    		</div>
    		<div class="other-info">
				<img src="https://d2y7at0phqmw80.cloudfront.net/img/default_avatar.png" class="profil-pict" alt="">
				<h4 class="subtitle">Organisé par {{post_single.owner.firstName}}</h4>
				<div class="rate">
					<img src="images/temp/stars.jpg" alt="" class="stars">
					<span class="reco">- 23 recommendations</span>
				</div>
				<a href="" class="btn-contact">Contacter {{post_single.owner.firstName}}</a>
			</div>
			<div class="quantity">
				<span class="price">{{post_single.price}}€</span>
				<span class="nb-places">{{post_single.maxPersons}} places dont {{post_single.leftSlots}} disponibles</span>
			</div>
			<div class="sidebar">
				<img src="images/temp/calendar.png" class="calendar" alt="">
		    	<ul class="posts-list clearfix container">
					<li ng-repeat="post in posts_feed | limitTo:2" ng-include="'views/post.html'"></li>
				</ul>
		    </div>
    	</div>
    </section>
    <section class="sct3">
    	<div class="container">
    		<h2 class="basic-title">Description</h2>
    		<p class="desc">{{post_single.content}}</p>
    		<h2 class="basic-title">Services inclus</h2>
    		<ul class="pack">
    			<li><img src="images/icons/valid.png" alt="">Transport</li>
    			<li><img src="images/icons/valid.png" alt="">Repas</li>
    			<li><img src="images/icons/invalid.png" alt="">Boisson</li>
    			<li><img src="images/icons/valid.png" alt="">Tickets</li>
    			<li><img src="images/icons/invalid.png" alt="">Matériel</li>
    		</ul>
    		<h2 class="basic-title">Galerie photos</h2>
    		<ul class="gallery clearfix">
    			<li><img src="http://www.guide-montagne-vanoise.com/easy-photo/20131128212313.jpg" alt=""></li>
    			<li><img src="http://section-montagne-epinal.com/IMG/jpg/IMGP4435.jpg" alt=""></li>
    			<li><img src="http://www.helias-millerioux.fr/sites/www.helias-millerioux.fr/files/Upload/Photo/2013/ski/mercantour/DSC06525.jpg" alt=""></li>
    			<li><img src="http://www.guide2hautemontagne.com/media/P1010534.JPG" alt=""></li>
    			<li><img src="http://www.i-skimontagne.com/images/stations/Notre-Dame-de-Bellecombe/station_de_ski_Notre-Dame-de-Bellecombe_1.jpg" alt=""></li>
    			<li><img src="http://www.samoens-ski.fr/img/photos/zoom/accueil_02.jpg" alt=""></li>
    		</ul>
    	</div>
    </section>
    <footer>©travlr 2015</footer>
</div>