<div id="home">
    <header id="nav-bar" class="clearfix transparent" ng-if="!isLogged" ng-include="'views/header.html'" ng-controller="headerCtrl"></header>
    <header id="nav-bar" class="clearfix transparent" ng-if="isLogged" ng-include="'views/header_logged.html'" ng-controller="headerCtrl"></header>

	<section class="sct1">
		<h1 class="centered"><strong>Partout</strong> où vous allez<br>il y a quelqu'un pour vous</h1>
		<div class="fast-search">
			<form action="">
				<input type="text" class="insert-input" placeholder="Où ?">
				<input type="text" class="insert-input" placeholder="Activité">
				<input type="date" class="insert-input" class="date">
				<input type="submit" value="Rechercher une activité">
			</form>
		</div>
	</section>
	<section class="sct2">
		<h2 class="basic-title">Où voulez-vous aller ?</h2>
		<ul class="dest-list clearfix container">
			<div class="left clearfix">
				<li class="mr20 mb20" style="background-image: url(https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQsMj9F9kcpss8FzTl6Gvf9hcw8Ur9UKKGKrHMRWHZMBw-yO9ksXw)">
					<h3 class="city"><div>Grenoble<span>352 guidr répertoriés</span></div></h3>
				</li>
				<li class="mb20" style="background-image: url(https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcTR1vL3O-w2bnol9RAdcpjYsmEE_4zTbBIln3cL1a6n6Fhr5LzHOA)">
					<h3 class="city"><div>Savoie<span>124 guidr répertoriés</span></div></h3>
				</li>
				<li class="mr20" style="background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/1/14/MERIBEL.jpg/280px-MERIBEL.jpg)">
					<h3 class="city"><div>Cuba<span>1258 guidr répertoriés</span></div></h3>
				</li>
				<li style="background-image: url(http://img6.onthesnow.com/image/gg/13/abri%C3%A8s_139769.jpg)">
					<h3 class="city"><div>Corse<span>260 guidr répertoriés</span></div></h3>
				</li>
			</div>
			<div class="right">
				<li style="background-image: url(http://i.telegraph.co.uk/multimedia/archive/03020/Tignes8_3020722k.jpg)">
					<h3 class="city"><div>Mont blanc<span>260 guidr répertoriés</span></div></h3>	 
				</li>
			</div>
		</ul>
	</section>
	<section class="sct3">
		<h2 class="basic-title">Meilleures activités autour de vous</h2>
		<ul class="posts-list clearfix container">
			<li ng-repeat="post in posts_feed" ng-include="'views/post.html'"></li>
		</ul>
	</section>
	<footer>©travlr 2015</footer>
	<div ng-include="'views/popup.html'"></div>
</div>
