<div id="search">
	<header id="nav-bar" class="clearfix fixed" ng-if="!isLogged" ng-include="'views/header.html'" ng-controller="headerCtrl"></header>
	<header id="nav-bar" class="clearfix fixed" ng-if="isLogged" ng-include="'views/header_logged.html'" ng-controller="headerCtrl"></header>
	<form action="" class="filters">
		<div class="container">
			<input type="text" class="insert-input" placeholder="Où ?">
			<input type="text" class="insert-input" placeholder="Activité">
			<input type="date" class="insert-input" class="date">
			<input type="submit" value="Modifiez votre recherche">
		</div>
	</form>
	<div class="top" style="background-image:url(images/temp/search.jpg)">
		Val d'Isère
	</div>
	<ul class="posts-list clearfix container">
		<li ng-repeat="post in search_posts" ng-include="'views/post.html'">
		</li>
	</ul>
</div>